
<script src="/js/Usuarios/listar.js"></script>

<h1>Usuários</h1>

<div>
    <% if(usuarioLogado.perfilId == 1) { %> 
        <a class="btn btn-primary" href="/usuarios/criar">
            Criar novo usuário
        </a>
    <%} %>


    <div style="margin-top:20px;">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Ativo</th>
                        <th>Perfil</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="corpoTabela">
                    <% lista.forEach(function(value, index) { %>
                            <tr>
                                <td><%= value.usuarioId %></td>
                                <td><%= value.usuarioNome %></td>
                                <td><%= value.usuarioEmail %></td>
                                <td><%= value.usuarioAtivo %></td>
                                <td><%= value.perfilId %></td>
                                <td>
                                    <div>
                                        <button data-id="<%= value.usuarioId %>" title="Excluir" class="btn btn-danger btnExcluir"><i class="fas fa-trash"></i></button>
                                        <a href="/usuarios/alterar/<%= value.usuarioId %>" title="Editar" class="btn btn-primary">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>   
                        <% }) %>        
                </tbody>
            </table>
        </div>

    </div>
</div>