<link href="/css/Usuarios/criar.css" >

<style>
    .campoErro {
        border-color: red;
    }
</style>

<script src="/js/Veiculos/alterar.js"></script>

<h1>Alterar veículo</h1>

<div>
    <div class="alert alert-danger" role="alert" id="erros" style="display:none">

    </div>
    <div class="alert alert-success" role="alert" id="alertaSucesso" style="display:none;" >
        
      </div>
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="hidden" id="id" value="<%= veiAlteracao.veiId %>">
            <label for="modelo">Modelo</label>
            <input value="<%= veiAlteracao.veiModelo %>" type="text" class="form-control" id="modelo">
          </div>
          <div class="form-group col-md-6">
            <label for="marca">Marca</label>
            <input value="<%= veiAlteracao.veiMarca %>" type="text" class="form-control" id="marca">
          </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="ano">Ano</label>
                    <input value="<%= veiAlteracao.veiAno %>" type="text" class="form-control" id="ano">
                </div>
                <div class="form-group col-md-6">
                    <label for="km">Kilometragem</label>
                    <input value="<%= veiAlteracao.veiKilometragem %>" type="text" class="form-control" id="km">
                </div>
            </div>
        </div>
        <button type="button" id="btnAlterar" class="btn btn-primary">Gravar</button>
        <a class="btn btn-secondary" href="/veiculos/listar">Voltar</a>
      </form>
</div>