<script src="/js/Veiculos/listar.js" ></script>

<h1>Veículos cadastrados</h1>

<div>

    <div style="margin-top:20px;">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Ano</th>
                        <th>Kilometragem</th>
                        <th>Serviço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="corpoTabela">
                    <% lista.forEach(function(value, index) { %>
                            <tr>
                                <td><%= value.veiId %></td>
                                <td><%= value.veiModelo %></td>
                                <td><%= value.veiMarca %></td>
                                <td><%= value.veiAno %></td>
                                <td><%= value.veiKilometragem %></td>
                                <td>
                                    <div>
                                        <button data-id="<%= value.veiId %>" title="Excluir" class="btn btn-danger btnExcluir"><i class="fas fa-trash"></i></button>
                                        <a href="/veiculos/alterar/<%= value.veiId %>" title="Editar" class="btn btn-primary">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>   
                        <% }) %>        
                </tbody>
            </table>
        </div>

    </div>
</div>